html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
  color: #333;
  background-color: #ABE0E8;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, p {
  margin: 0;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.privacy-policy, .credits-page {
  padding: 0 10px;
  text-align: center;
  max-width: 1000px;
  margin: 60px auto 0 auto;
}

.privacy-policy h2, .credits-page h2 {
  margin: 0 0 20px 0;
}

.privacy-policy p, .credits-page p {
  margin-bottom: 20px;
}

.privacy-policy .credit {
  font-size: 10px;
}

.credits-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .privacy-policy, .credits-page {
    margin: 40px auto 140px auto;
  }
}